.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  align-items: center;
}

.main-content-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
}

.cursor-pointer {
  cursor: pointer;
}
